body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
  overflow-wrap: break-word;
  margin: 0 !important;
}

td {
  width: 14%;
}

th {
  height: 30px;
}

td.break {
  word-break: break-all;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
